<!doctype html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Fresh Votes</title>
    
    <div th:replace="fragments/header :: headerElement"></div>
    
   </head>
  
  <body>  
  	<div th:replace="fragments/header :: navbarElement"></div>
  	
  	<div class="container col-8" style="margin-top: 80px;">
  		
  		<div class="row">
  			<div class="col-12 col-sm-4">
  				<h1>New Feature</h1>  
  			</div>
  		</div>
  		
  		<form action="" method="POST">
	      	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	      	<input type="hidden" th:field="${feature.id}" />
	      	<input type="hidden" th:field="${feature.product}" />
	      	<input type="hidden" th:field="${feature.status}" />
	      	
	      	
	      	<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Title</label>
			  <input type="text" class="form-control" th:field="${feature.title}" 
			  		placeholder="Feature title" />
			</div>
			<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Description</label>
			  <textarea type="text" class="form-control" th:field="${feature.description}" 
			  		placeholder="Feature description"></textarea>
			</div>
			<div>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
	    </form>  	  
	   
	  	<div th:replace="fragments/header :: footerElement"></div>
    
  </body>
</html>