<!doctype html>
<html xmlns:th="http://thymeleaf.org">
  <head> 
	<script th:replace="fragments/header :: headerElement"></script>
    <title>Fresh Votes</title>
  </head>
  <body>
    <h1>FreshVotes Dashboard</h1>
    
    <div th:replace="fragments/header :: navbarElement"></div>
    
    <div th:if="${products != null}">
    	<div class="row">
    		<div class="col">
    			<h1>Fresh Votes Dashboard</h1>
    		</div>
    	</div>   
    	
    	<div class="row" th:each="product : ${products}">
    		<div class="col">
    			User: <div th:text="${product.user.name}"></div>
    			Link: <a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}"></a>
    			Is published: <div th:text="${product.published}"></div>
    		</div>    		
    	</div> 
    </div>

  </body>
</html>