<!doctype html>
<html lang="pt-br">
  <head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>Fresh Votes APP</title>
  </head>
  <body>
  	<div th:replace="fragments/header :: navbarElement"></div>
  	
  	<div class="container text-center">
  		<h1 style="margin-top: 80px;">Welcome to Fresh Votes APP!</h1>
    	<i class="bi bi-hand-thumbs-up-fill" style="font-size: 10em; color: green;"></i>
    	<i class="bi bi-hand-thumbs-down-fill" style="font-size: 10em; color:red;"></i>
    	<div class="col-12">    		
    		<a href="/votesPaginated" style="text-decoration: none; font-size: 3em;">Vote now!</a>
    	</div>
  	</div>
    
    <div th:replace="fragments/header :: footerElement"></div>
    
  </body>
</html>