<!doctype html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>Freah Votes</title>
  </head>
  <body>
  	<div th:replace="fragments/header :: navbarElement"></div>
  	<div class="container">
  		<h1>Products</h1>    
	    <div th:each="product : ${products}">
	    	<a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}"></a>
	    	<div th:text="${product.user.name}"></div>
	    	<hr>
	    </div>
  	</div>
    
    <form action="/logout" method="POST">
      	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    	<button type="submit">Logout</input>
    </form>
    
    <div th:replace="fragments/header :: footerElement"></div>
  </body>
</html>