<!doctype html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Fresh Votes</title>
    <script th:replace="fragments/header :: headerElement"></script>
  </head>
  <body>  
  
  	<div th:replace="fragments/header :: navbarElement"></div>
  	
  	<div class="container" th:if="${product != null}" style="margin-top: 80px;">
  		<h1>Product</h1>    
  		
	    <form action="" method="POST">
	      	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	      	<input type="hidden" th:field="${product.id}" />
	      	<input type="hidden" th:field="${product.user}" />
	      	
	      	<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Product name</label>
			  <input type="text" class="form-control" th:field="${product.name}" id="exampleFormControlInput1" placeholder="Product name" required />
			</div>
			<div class="form-check form-switch">
			  <input class="form-check-input" type="checkbox" th:field="${product.published}" id="flexSwitchCheckChecked" checked>
			  <label class="form-check-label" for="published">Is published</label>
			</div>
	    	<button class="btn btn-primary" type="submit" style="margin-top: 1em;">Save</button>
	    </form>  	
  	</div>
    
    <div th:replace="fragments/header :: footerElement"></div>
    
  </body>
</html>