<!doctype html>
<html lang="pt-br">
  <head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>Fresh Votes APP</title>
  </head>
  <body>
  	<div th:replace="fragments/header :: navbarElement"></div>
  	
  	<div class="container text-center">
  		<h1 style="margin-top: 80px;">Thumbs up or down for vote</h1>    	
  	</div>
  	
  	<div class="container">
  		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Title</th>
		      <th scope="col">Description</th>
		      <th scope="col">Product name</th>
		      <th scope="col">Status</th>
		      <th scope="col">Vote</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="feature : ${features}">
		      <td th:text="${feature.title}"></td>
		      <td th:text="${feature.description}"></td>
		      <td th:text="${feature.product.name}"></td>
		      <td th:text="${feature.status}"></td>
		      <td>
		      	<form th:object="${vote}" th:action="@{/votes/{featureId}/{userId} (featureId=${feature.id}, userId=${user.id})}"  method="POST">		      		
		      		<input type="hidden" th:value="${user.id}" th:name="${user.id}" />
		      		<input type="hidden" th:value="${feature.id}" th:name="${feature.id}" />
		      		<input type="hidden" th:value="1" th:name="upvote" />
		      		<button class="btn btn-light" type="submit"><i class="bi bi-hand-thumbs-up-fill" style="font-size: 1.5em; color:green;"></i></i></button>
		      	</form>    			
		      </td>
		      <td>
		      	<form th:object="${vote}" th:action="@{/votes/{featureId}/{userId} (featureId=${feature.id}, userId=${user.id})}"  method="POST">
		      		<input type="hidden" th:value="${user.id}" th:name="${user.id}" />
		      		<input type="hidden" th:value="${feature.id}" th:name="${feature.id}" />
		      		<input type="hidden" th:value="0" name="upvote" />
		      		<button class="btn btn-light" type="submit"><i class="bi bi-hand-thumbs-down-fill" style="font-size: 1.5em; color:red;"></i></i></button>
		      	</form>    			
		      </td>
		      
		    </tr>
		  </tbody>
		</table>
  		  	
  	</div>
    
    <div th:replace="fragments/header :: footerElement"></div>
    
  </body>
</html>